.actions
  %span.add= link_to "New #{@our_coin.title} Thumbnail", new_our_coin_our_coin_thumbnail_path(@our_coin)
  |
  %span.back= link_to 'Back', [@our_coin]

%h1 #{@our_coin.title} Thumbnails

- if @our_coin.our_coin_thumbnails.size > 0
  %table.table
    %tr
      %th Photo
      %th Caption
      %th
    - @our_coin_thumbnails.each do |thumbnail|
      %tr
        %td= image_tag thumbnail.img_path, {:width => '100', :title => thumbnail.caption, :alt => thumbnail.caption}
        %td.middle= thumbnail.caption
        %td.middle
          %span.edit= link_to 'Edit', edit_our_coin_our_coin_thumbnail_path(@our_coin, thumbnail)
          |
          %span.delete= link_to 'Delete', [@our_coin, thumbnail], :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p
    %b= "No Thumbnails"
%br/