= provide(:title, 'Admin Section')

%h1 Admin Section

%p
  This section contains useful administrative links.
%br/

%h3 General Data
%ul
  %li= link_to "Origins", origins_path
  %li= link_to "Precious Metals", precious_metals_path
  %li= link_to "Rating Agencies", rating_agencies_path
  %li= link_to "Rating Categories", sheldon_rating_categories_path
  %li= link_to "Rating Scales", sheldon_rating_scales_path

%br/

%h3 U.S. Data
%ul
  %li= link_to "Coins", coin_values_path
  %li= link_to "Mints", mints_path
%br/  