<h1>Listing coin_attribute_types</h1>

<table>
  <tr>
    <th>Coin attribute type</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coin_attribute_types.each do |coin_attribute_type| %>
  <tr>
    <td><%= coin_attribute_type.coin_attribute_type_id %></td>
    <td><%= coin_attribute_type.value %></td>
    <td><%= link_to 'Show', coin_attribute_type %></td>
    <td><%= link_to 'Edit', edit_coin_attribute_type_path(coin_attribute_type) %></td>
    <td><%= link_to 'Destroy', coin_attribute_type, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coin attribute type', new_coin_attribute_type_path %>
