<p id="notice"><%= notice %></p>

<p>
  <b>Coin:</b>
  <%= @year_coin.coin_id %>
</p>

<p>
  <b>Year:</b>
  <%= @year_coin.year %>
</p>

<p>
  <b>Additional info:</b>
  <%= @year_coin.additional_info %>
</p>

<p>
  <b>Is gold:</b>
  <%= @year_coin.is_gold %>
</p>

<p>
  <b>Is silver:</b>
  <%= @year_coin.is_silver %>
</p>


<%= link_to 'Edit', edit_year_coin_path(@year_coin) %> |
<%= link_to 'Back', year_coins_path %>
