= form_for([@sheldon_rating_category, @sheldon_rating_scale]) do |f|

  - if @sheldon_rating_scale.errors.any?
    #error_explanation
      %h2
        = pluralize(@sheldon_rating_scale.errors.count, "error")
        prohibited this sheldon_rating_scale from being saved:
      %ul
        - @sheldon_rating_scale.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br/
    = f.text_field :title

  .field
    = f.label :sheldon_rating_category_id, "Category"
    %br/
    = f.select :sheldon_rating_category_id, SheldonRatingCategory.find(:all, :order=> "end DESC").collect {|c| [c.title, c.id]}

  .field
    = f.label :value
    %br/
    = f.text_field :value

  .field
    = f.label :description
    %br/
    = f.text_area :description

  .actions
    = f.submit