%h1 Sheldon Rating Scales

%table
  %tr
    %th Title
    %th Sheldon rating category
    %th Value
    %th Description
    %th
    %th
    %th

  - @sheldon_rating_scales.each do |sheldon_rating_scale|
    %tr
      %td= sheldon_rating_scale.title
      %td= sheldon_rating_scale.sheldon_rating_category_id
      %td= sheldon_rating_scale.value
      %td= sheldon_rating_scale.description
      %td= link_to 'Show', sheldon_rating_scale
      %td= link_to 'Edit', edit_sheldon_rating_scale_path(sheldon_rating_scale)
      %td= link_to 'Destroy', sheldon_rating_scale, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br/

= link_to 'New Sheldon rating scale', new_sheldon_rating_scale_path