.actions
  %span.add= link_to "New #{@sheldon_rating_category.title} Scale", new_sheldon_rating_category_sheldon_rating_scale_path(@sheldon_rating_category)
  |
  %span.back= link_to 'Back', @sheldon_rating_category


%h1= link_to "#{@sheldon_rating_category.title} Category", @sheldon_rating_category

%p.description= raw @sheldon_rating_category.description


- if !@sheldon_rating_category.sheldon_rating_scales.empty?

  %dl
    - @sheldon_rating_scales.each do |scale|
      %dt
        = link_to scale.title, [@sheldon_rating_category, scale]

        .actions
          %span.edit= link_to 'Edit', edit_sheldon_rating_category_sheldon_rating_scale_path(@sheldon_rating_category, scale)
          |
          %span.delete= link_to 'Delete', [@sheldon_rating_category, scale], :method => :delete, :data => { :confirm => 'Are you sure?' }


      %dd
        .expandable
          %p= raw scale.description
          
  %br/
- else
  %p
    = @sheldon_rating_category.title
    doesn't have any items yet.
