%p#notice= notice

.actions
  %span.edit= link_to 'Edit', edit_sheldon_rating_category_sheldon_rating_scale_path(@sheldon_rating_category)
  |
  %span.delete= link_to 'Delete', sheldon_rating_category_sheldon_rating_scale_path(@sheldon_rating_category), :method => :delete, :data => { :confirm => 'Are you sure?' }
  |
  %span.back= link_to 'Back', sheldon_rating_category_sheldon_rating_scales_path(@sheldon_rating_category)

%h1
  = @sheldon_rating_scale.title
  \- #{@sheldon_rating_category.description}

.expandable-max
  %p.description= raw @sheldon_rating_scale.description