.actions
  %span.add= link_to "New #{@coin.name} Coin", new_coin_mint_coin_path(@coin)
  |
  %span.back= link_to 'Back', [@coin.coin_value, @coin]

%h1= link_to "#{@coin.name} - #{@coin.coin_value.name}", [@coin]


- grouping_order = @mint_coins_by_grouping[:order]
- groupings = @mint_coins_by_grouping[:groupings]
- expand_section = true

- grouping_order.each do |order|

  - current_class = ''
  - if expand_section == true then
    - current_class = 'expand_on_load'
    - expand_section = false
  
  %div{:class => "grouping #{current_class}"}
    %h2= order

    %div.grouping-data
      %table.table
        %thead
          %tr
            %th Coin
            %th # Minted
            %th # Proof Minted
            %th
        %tbody
          - groupings[order].each do |mint_coin|
            %tr
              %td= link_to mint_coin.title, [@coin, mint_coin]
              %td
                - if mint_coin.number_minted > 0 then
                  = number_with_delimiter(mint_coin.number_minted, :delimiter => ',')
                - else
                  %span.dash -
              %td
                - if mint_coin.number_proof_minted > 0 then
                  = number_with_delimiter(mint_coin.number_proof_minted, :delimiter => ',')
                - else
                  %span.dash -
              %td
                %span.edit= link_to 'Edit', edit_coin_mint_coin_path(@coin, mint_coin)
                |
                %span.delete= link_to 'Delete', [@coin, mint_coin], :method => :delete, :data => { :confirm => 'Are you sure?' }
  
%br
