<h1>Mints</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th>Always Present?</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mints.each do |mint| %>
  <tr>
    <td><%= mint.name %></td>
    <td><%= mint.symbol %></td>
    <td><%= mint.always_present %></td>
    <td><%= mint.comments %></td>
    <td><%= link_to 'Show', mint %></td>
    <td><%= link_to 'Edit', edit_mint_path(mint) %></td>
    <td><%= link_to 'Destroy', mint, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mint', new_mint_path %>
