%p#notice= notice
.actions
  %span.add= link_to "New Mint", new_mint_path
  |
  %span.edit= link_to 'Edit', edit_mint_path(@mint)
  |
  %span.back= link_to 'Back', mints_path

%h1 #{@mint.name} (#{@mint.symbol})


%p
  %b Symbol Always present? #{@mint.always_present}

- if @mint.comments
  %p= @mint.comments
