%h1 Editing Composition - #{@mint_coin.title} #{@mint_coin.coin.name} #{@mint_coin.coin.coin_value.name}

= render 'form'

= link_to 'Show', [@mint_coin, @composition]
\|
= link_to 'Back', mint_coin_compositions_path
