.actions
  %span.add= link_to '<< Create New >>', new_origin_path

%h1 Coin Origins

%dl
  - @origins.each do |origin|

    %dt
      = link_to origin.name, origin

      .actions
        %span.edit= link_to 'Edit', edit_origin_path(origin)
        |
        %span.delete= link_to 'Delete', origin, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %dd.expandable
      %p= raw origin.description

.visualClear
%br/