%p#notice= notice


%h1
  = @coin.name
  \- #{@coin.coin_value.name}

%p
  %b Caption:
  = @thumbnail.caption


= raw show_photos([@thumbnail.get_hash], args={})

%p
  %b File name:
  = @thumbnail.file_name


= link_to 'Edit', edit_coin_thumbnail_path(@coin)
\|
= link_to 'Back', coin_thumbnails_path
