<%= form_for(@rating_agency) do |f| %>
  <% if @rating_agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_agency.errors.count, "error") %> prohibited this rating_agency from being saved:</h2>

      <ul>
      <% @rating_agency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
