.actions
  %span.add= link_to '<< Create New >>', new_rating_agency_path

%h1 Rating Agencies

%dl
  - @rating_agencies.each do |agency|

    %dt
      = link_to agency.name, agency

      .actions
        %span.edit= link_to 'Edit', edit_rating_agency_path(agency)
        |
        %span.delete= link_to 'Delete', agency, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %dd.expandable
      %p= raw agency.full_name

.visualClear
%br/