%p#notice= notice

%p
  %b Name:
  = @rating_agency.name

%p
  %b Full name:
  = @rating_agency.full_name

= link_to 'Edit', edit_rating_agency_path(@rating_agency)
|
\#{link_to 'Back', rating_agencies_path}