<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rating_agency.name %>
</p>

<p>
  <b>Full name:</b>
  <%= @rating_agency.full_name %>
</p>


<%= link_to 'Edit', edit_rating_agency_path(@rating_agency) %> |
<%= link_to 'Back', rating_agencies_path %>
