.actions
  %span.add= link_to "New Attribute Type", new_attribute_type_path
  |
  %span.back= link_to 'Back', "/admin"

%h1 Attribute Types

- if @attribute_types.size > 0
  %table.table
    %tr
      %th Value
      %th

    - @attribute_types.each do |attribute_type|
      %tr
        %td= link_to attribute_type.value, attribute_type
        %td
          %span.edit= link_to 'Edit', edit_attribute_type_path(attribute_type)
          |
          %span.delete= link_to 'Delete', attribute_type, :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p
    %b= "No Attribute Types"
%br/

