.actions
  %span.add= link_to '<< Create New >>', new_sheldon_rating_category_path

%h1 Sheldon Rating Categories

%dl
  - @sheldon_rating_categories.each do |category|

    %dt
      = link_to category.title, category

      .actions
        %span.edit= link_to 'Edit', edit_sheldon_rating_category_path(category)
        |
        %span.delete= link_to 'Delete', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %dd.expandable
      %p= raw category.description

.visualClear
%br/