<h1>Sheldon Rating Categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start</th>
    <th>End</th>
    <th>Special order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sheldon_rating_categories.each do |sheldon_rating_category| %>
  <tr>
    <td><%= sheldon_rating_category.title %></td>
    <td><%= sheldon_rating_category.description %></td>
    <td><%= sheldon_rating_category.start %></td>
    <td><%= sheldon_rating_category.end %></td>
    <td><%= sheldon_rating_category.special_order %></td>
    <td><%= link_to 'Show', sheldon_rating_category %></td>
    <td><%= link_to 'Edit', edit_sheldon_rating_category_path(sheldon_rating_category) %></td>
    <td><%= link_to 'Destroy', sheldon_rating_category, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sheldon rating category', new_sheldon_rating_category_path %>
