<%= form_for(@precious_metal) do |f| %>
  <% if @precious_metal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precious_metal.errors.count, "error") %> prohibited this precious_metal from being saved:</h2>

      <ul>
      <% @precious_metal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :conversion_factor %><br />
    <%= f.text_field :conversion_factor %>
  </div>
  <div class="field">
    <%= f.label :price_per_unit %><br />
    <%= f.text_field :price_per_unit %>
  </div>
  <div class="field">
    <%= f.label :price_per_gram %><br />
    <%= f.text_field :price_per_gram %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
