.actions
  %span.add= link_to '<< Create New >>', new_precious_metal_path

%h1 Precious Metals

%dl
  - @precious_metals.each do |metal|
    %dt
      = link_to "#{metal.name} - #{metal.symbol}", metal

      .actions
        %span.edit= link_to 'Edit', edit_precious_metal_path(metal)
        |
        %span.delete= link_to 'Delete', [metal], :method => :delete, :data => { :confirm => 'Are you sure?' }


    %dd.expandable
      %p= "Price per Unit: $#{metal.price_per_unit}"
      %p= "Unit: #{metal.unit}"
      %p
        %b Price per Gram: $#{metal.price_per_gram}
      
%br/

