<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @precious_metal.name %>
</p>

<p>
  <b>Symbol:</b>
  <%= @precious_metal.symbol %>
</p>

<p>
  <b>Unit:</b>
  <%= @precious_metal.unit %>
</p>

<p>
  <b>Conversion factor:</b>
  <%= @precious_metal.conversion_factor %>
</p>

<p>
  <b>Price per unit:</b>
  <%= @precious_metal.price_per_unit %>
</p>

<p>
  <b>Price per gram:</b>
  <%= @precious_metal.price_per_gram %>
</p>


<%= link_to 'Edit', edit_precious_metal_path(@precious_metal) %> |
<%= link_to 'Back', precious_metals_path %>
