%p#notice= notice
.actions
  %span.add= link_to "New Precious Metal", new_precious_metal_path
  |
  %span.edit= link_to 'Edit', edit_precious_metal_path(@precious_metal)
  |
  %span.back= link_to 'Back', precious_metals_path

%h1 #{@precious_metal.name} Metal - (#{@precious_metal.symbol})

%p
  %b Unit:
  = @precious_metal.unit

%p
  %b Conversion factor:
  = @precious_metal.conversion_factor

%p
  %b Price per unit: $#{@precious_metal.price_per_unit}

%p
  %b Price per gram: $#{@precious_metal.price_per_gram}
