.actions
  %span.add= link_to "New #{@mint.name} Date Range", new_mint_mint_date_path(@mint)
  |
  %span.back= link_to 'Back', [@mint]

%h1= link_to "#{@mint.name} Date Ranges", [@mint]

%table.table
  %thead
    %tr
      %th Start year
      %th End year
      %th
  %tbody
    - @mint_dates.each do |mint_date|
      %tr
        %td= mint_date.start_year
        %td= mint_date.end_year
        %td
          %span.edit= link_to 'Edit', edit_mint_mint_date_path(@mint, mint_date)
          |
          %span.delete= link_to 'Delete', [@mint, mint_date], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
