= form_for ([@coin, @photo]) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :coin_id, :value => @coin.id

  .field
    = f.label :file_name
    = f.text_field :file_name

  .field
    = f.label :caption
    = f.text_field :caption

  .actions
    = f.submit 'Save'
