<h1>Coins By Type</h1>

<dl>
<% @coin_values.each do |coin_value| %>

  <dt>
    <%= link_to coin_value.name, coin_value %> 
    
    <section><%= coin_value.years %></section>

    <div class="actions">
      <span class="edit"><%= link_to 'Edit', edit_coin_value_path(coin_value) %></span> | 
      <span class="delete"><%= link_to 'Delete', coin_value, :method => :delete, :data => { :confirm => 'Are you sure?' } %></span>
    </div>
  </dt>
  <dd class="expandable">
    <p><%=raw coin_value.description %></p>
  </dd>
  
<% end %>
</dl>
<div class="visualClear"></div>

<br />

<div class="actions">
  <span class="add"><%= link_to '<< Create New >>', new_coin_value_path %></span>
</div>
