<p id="notice"><%= notice %></p>

<h1><%= link_to @coin_value.name, @coin_value %></h1>

<p class="description"><%=raw @coin_value.description %></p>

<p class="hide">
  <b>Value:</b>
  <%= @coin_value.value %>
</p>

<dl>
<% for coin in @coin_value.coins %>
  <dt>
    <%= link_to coin.name, [@coin_value, coin] %>
    <section><%= coin.years %></section>

  </dt>
  <dd>
    <% if coin.has_photo? %>
      <p class="align-right">
        <%= image_tag coin.photo_path, :width => '150' %>
      </p>
    <% end %>

    <div class="expandable">
      <p><%= raw coin.description %></p>
    </div>
  </dd>
<% end %>
</dl>

<div class="actions">
  <span class="add"><%= link_to 'New Coin', new_coin_value_coin_path(@coin_value) %></span> |
  <span class="edit"><%= link_to 'Edit', edit_coin_value_path(@coin_value) %></span> |
  <span class="back"><%= link_to 'Back', coin_values_path %></span>
</div>
