<p id="notice"><%= notice %></p>

<h1><%= @coin_value.name %></h1>

<p class="description"><%=raw @coin_value.description %></p>

<p class="hide">
  <b>Value:</b>
  <%= @coin_value.value %>
</p>

<dl>
<% for coin in @coin_value.coins %>
  <dt><%= link_to coin.name, coin_value_coin_path(coin) %></dt>
  <dd><%= raw coin.description %></dd>
<% end %>
</dl>

<%= link_to 'Edit', edit_coin_value_path(@coin_value) %> |
<%= link_to 'Back', coin_values_path %>
