%p#notice= notice
.actions
  %span.add= link_to "New #{@coin_value.name} Coin", new_coin_value_coin_path(@coin_value)
  |
  %span.edit= link_to 'Edit', edit_coin_value_path(@coin_value)
  |
  %span.back= link_to 'Back', coin_values_path

%h1= link_to @coin_value.name, @coin_value

%p.description= raw @coin_value.description

%p.hide
  %b Value:
  = @coin_value.value

%dl
  - for coin in @coin_value.coins
    %dt
      = link_to coin.name, [@coin_value, coin]
      %section= coin.years
    %dd
      - if coin.has_thumbnails?
        %p.align-right
          - thumb = coin.main_thumbnail
          = image_tag thumb[:path], {:width => '150', :title => thumb[:caption], :alt => thumb[:caption]}
      .expandable
        %p= raw coin.description
        
%br
  
%h2= "Attributes"

.actions
  %span.add= link_to "New Attribute", new_coin_value_coin_path(@coin_value)

- if @coin_value.coin_value_attributes.size > 0
  %table.table
    %thead
      %tr
        %th Type
        %th Value
        %th
    %tbody
      - @coin_value.coin_value_attributes.each do |attrib|
        %tr
          %td= attrib.attribute_type.value
          %td= attrib.value
          %td
            %span.edit= link_to 'Edit', edit_coin_value_coin_value_attribute_path(@coin_value, attrib)
            |
            %span.delete= link_to 'Delete', [@coin_value, attrib], :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p
    %b= "No Attributes Defined"
