= form_for([@coin, @coin_attribute]) do |f|

  - if @coin_attribute.errors.any?
    #error_explanation
      %h2
        = pluralize(@coin_attribute.errors.count, "error")
        prohibited this coin_attribute from being saved:
      %ul
        - @coin_attribute.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :coin_id, :value => @coin.id

  .field
    = f.label "Type"
    %br/
    - attribute_types = CoinAttributeType.find(:all, :order=> "value ASC").collect {|c| [c.value, c.id]}
    - if attribute_types.size > 0 then
      = f.select :coin_attribute_type_id, attribute_types
    - else
      %span.none-defined= link_to "No Types defined. Create One...", new_coin_attribute_type_url

  .field
    = f.label "Value"
    %br/
    = f.text_field :coin_attribute_value

  .actions
    = f.submit