= form_for(@coin_attribute) do |f|

  - if @coin_attribute.errors.any?
    #error_explanation
      %h2
        = pluralize(@coin_attribute.errors.count, "error")
        prohibited this coin_attribute from being saved:
      %ul
        - @coin_attribute.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :coin_id
    %br/
    = f.number_field :coin_id

  .field
    = f.label :coin_attribute_type_id
    %br/
    = f.number_field :coin_attribute_type_id

  .field
    = f.label :coin_attribute_value
    %br/
    = f.text_area :coin_attribute_value

  .actions
    = f.submit