.actions
  %span.add= link_to "New Attribute", new_coin_coin_attribute_path

%h1 #{@coin.name} #{@coin.coin_value.name} Attributes

- if @coin.coin_attributes.size > 0
  %table.table
    %tr
      %th Type
      %th Value
      %th
    - @coin_attributes.each do |coin_attribute|
      %tr
        %td= link_to coin_attribute.coin_attribute_type.value, [@coin, coin_attribute]
        %td= coin_attribute.coin_attribute_value
        %td
          %span.edit= link_to 'Edit', edit_coin_coin_attribute_path(@coin, coin_attribute)
          |
          %span.delete= link_to 'Delete', [@coin, coin_attribute], :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p
    %b= "No Attributes"
%br/