%p#notice= notice

%p
  %b Coin:
  = @coin_attribute.coin_id

%p
  %b Coin attribute type id:
  = @coin_attribute.coin_attribute_type_id

%p
  %b Coin attribute value:
  = @coin_attribute.coin_attribute_value

= link_to 'Edit', edit_coin_value_coin_coin_attribute_path(@coin)
|
\#{link_to 'Back', coin_value_coin_coin_attributes_path}