<p id="notice"><%= notice %></p>

<p>
  <b>Coin:</b>
  <%= @coin_attribute.coin_id %>
</p>

<p>
  <b>Coin attribute type id:</b>
  <%= @coin_attribute.coin_attribute_type_id %>
</p>

<p>
  <b>Coin attribute value:</b>
  <%= @coin_attribute.coin_attribute_value %>
</p>


<%= link_to 'Edit', edit_coin_attribute_path(@coin_attribute) %> |
<%= link_to 'Back', coin_attributes_path %>
