%header
  .container
    = link_to "Coins", root_path, :id=> "logo"
    %nav
      %ul
        %li= link_to "Home",    root_path
        %li= link_to "U.S. Coins",    coin_values_path
        %li= link_to "Foreign Coins",    coin_values_path
        %li= link_to "Our Coins",    coin_values_path
        %li= link_to "Trackers",    coin_values_path
        %li= link_to "Search",    coin_values_path
  .visualClear