<%= form_for([@coin_value, @coin]) do |f| %>
  <% if @coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% @coin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_year %><br />
    <%= f.number_field :start_year %>
  </div>
  <div class="field">
    <%= f.label :end_year %><br />
    <%= f.number_field :end_year %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :coin_value_id %><br />
    <%= f.select :coin_value_id, CoinValue.find(:all, :order=> "value DESC").collect {|c| [c.name, c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
