<h1><%= link_to @coin_value.name, @coin_value %></h1>


<% if !@coin_value.coins.empty? %>
<dl>

<% @coins.each do |coin| %>
  <dt>
    <%= link_to coin.name, [@coin_value, coin] %>
    <section><%= coin.years %></section>
    
    <div class="actions">
      <span class="edit"><%= link_to 'Edit', edit_coin_value_coin_path(@coin_value, coin) %></span> |
      <span class='delete'><%= link_to 'Delete', [@coin_value, coin], :method => :delete, :data => { :confirm => 'Are you sure?' } %></span>
    </div>
  </dt>
  <dd><%= raw coin.description %></dd>

<% end %>
</dl>

<br />
<% else %>
  <p><%= @coin_value.name %> doesn't have any coins yet.</p>
<% end %>

<div class="actions">
  <span class="add"><%= link_to 'New Coin', new_coin_value_coin_path(@coin_value) %> |
  <span class="back"><%= link_to 'Back', @coin_value %></span>
</div>
