<p id="notice"><%= notice %></p>

<h1><%= @coin.name %> - <%= @coin.coin_value.name%></h1>

<p class="description"><%=raw @coin.description %></p>

<p>
  <b>Start year:</b>
  <%= @coin.start_year %>
</p>

<p>
  <b>End year:</b>
  <%= @coin.end_year %>
</p>


<div class="actions">
  <span class="edit"><%= link_to 'Edit', edit_coin_value_coin_path(@coin_value) %></span> |
  <span class="delete"><%= link_to 'Delete', coin_value_coin_path(@coin_value), :method => :delete, :data => { :confirm => 'Are you sure?' } %></span> |
  <span class="back"><%= link_to 'Back', coin_value_coins_path(@coin_value) %></span>
</div>
