%p#notice= notice

.actions
  %span.add= link_to "New #{@coin.name} Coin", new_coin_mint_coin_path(@coin)
  |
  %span.edit= link_to 'Edit', edit_coin_value_coin_path(@coin_value)
  |
  %span.delete= link_to 'Delete', coin_value_coin_path(@coin_value), :method => :delete, :data => { :confirm => 'Are you sure?' }
  |
  %span.back= link_to 'Back', coin_value_coins_path(@coin_value)

%h1
  = @coin.name
  \- #{@coin.coin_value.name}

%p.field.data-info
  (#{@coin.years})

- if @coin.has_thumbnails?
  = raw(show_photos(@coin.get_thumbnails, :size=>300))

.expandable-max
  %p.description= raw @coin.description
  
%div.visualClear
  
- @mint_coins_by_grouping.each do |grouping|
  - if grouping['title'] != ''
    %h2= grouping['title']
  - else
    %h2= 'Coins'
  
  %table.table
    %thead
      %tr
        %th Coin
        %th # Minted
        %th # Proof Minted
        %th
    %tbody
      - grouping['mint_coins'].each do |mint_coin|
        %tr
          %td= link_to mint_coin.title, [@coin, mint_coin]
          %td
            - if mint_coin.number_minted > 0 then
              = number_with_delimiter(mint_coin.number_minted, :delimiter => ',')
            - else
              %span.dash -
          %td
            - if mint_coin.number_proof_minted > 0 then
              = number_with_delimiter(mint_coin.number_proof_minted, :delimiter => ',')
            - else
              %span.dash -
          %td
            %span.edit= link_to 'Edit', edit_coin_mint_coin_path(@coin, mint_coin)
            |
            %span.delete= link_to 'Delete', [@coin, mint_coin], :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
  
%br
  

%h2= "Attributes"

.actions
  %span.add= link_to "New Attribute", new_coin_coin_attribute_path(@coin)

- if @coin.coin_attributes.size > 0
  %table.table
    %thead
      %tr
        %th Type
        %th Value
        %th
    %tbody
      - @coin.coin_attributes.each do |attrib|
        %tr
          %td= attrib.attribute_type.value
          %td= attrib.value
          %td
            %span.edit= link_to 'Edit', edit_coin_coin_attribute_path(@coin, attrib)
            |
            %span.delete= link_to 'Delete', [@coin, attrib], :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  %p
    %b= "No Attributes Defined"
