<p id="notice"><%= notice %></p>

<h1><%= @coin.name %> - <%= @coin.coin_value.name%></h1>

<p class="description"><%=raw @coin.description %></p>

<p>
  <b>Start year:</b>
  <%= @coin.start_year %>
</p>

<p>
  <b>End year:</b>
  <%= @coin.end_year %>
</p>

<%= link_to 'Edit', edit_coin_value_coin_path(@coin_value, @coin) %> |
<%= link_to 'Back', coin_value_coins_path(@coin_value) %>
